* {
    --background: #EEEEEE;
    --text: #444444;
    --accent: #E16036;
}

body {
    margin: 40px auto;
    max-width: 650px;
    background-color: var(--background);
    line-height: 1.6;
    color: var(--text);
    font-size: 18px;
    padding: 0 10px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,
h2,
h3 {
    line-height: 1.2;
}

h1 {
    color: var(--accent);
}

ul {
    list-style-type: none;
    padding-left: 0;
}

label {
    display: block;
}

form {
    display: flex;
    flex-wrap: wrap;
}


textarea,
input:not([type=submit]) {
    width: 100%;
}

#form-container {
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 70%;
    background-color: white;
    height: 26vh;
    min-height: 12rem;
}

form {
    width: 15em;
    align-items: center;
    justify-content: center;
    line-height: 1rem;
    /* margin-top: ; */
}

#form-container input[type="text"] {
    width: 190px;
    padding: 0.4rem;
    font-size: 15px;

}

#form-container input[type="submit"] {
    width: 190px;
    padding: 0.3rem;
    font-size: 15px;
    margin-top: 1rem;
}

#shorter-label {
    visibility: hidden;
}

#shortened-url {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
}
