{% extends 'default.html' %}
{% block headers %}
    <script src={{ url_for('static', filename='./scripts/index.js')}} defer></script>
{% endblock %}
{% block title %}Urls{% endblock %}
{% block content %}
    <h1>URL Shortener</h1>
    <em>Use this to shorten long urls</em>
    <hr />
    <!-- <ul> -->
        <!-- {% for url in urls %} -->
            <!-- <li class="listing">
                <h2>{{ url.title }}</h3>
                <p>{{ url.body }}<em class="contact-details"> | {{ url.email }}</em></p>
                
            </li> -->
        <!-- {% endfor %} -->
    <!-- </ul> -->
    <hr />
    <h2>Enter your url</h2>
    <!-- <form method="POST"> -->
    <span>Here's your shortened URL</span>
    <p>{{ shorter }}</p>
    <form method="POST">
        <fieldset>
            <label for="title-input">Url: </label>
            <input type="text" id="url" name="url" required placeholder="Enter the url to be shortened" />
            <input type="submit" value="Enter">
        </fieldset>
    </form>
{% endblock %}
